{% extends 'base.html' %}
{% block content %}

<div class="row">
    
    <h2>Categories</h2>
    <ul class="collapsible popout" data-collapsible="accordion">
        <!--1. Use templating language to loop through the categories in our collection-->
        {% for cat in categories %}
        <li>
            <div class="collapsible-header">
                <!--Add 'Del' and 'Edit' buttons-->
                <a href="" class="waves-effect waves-light btn btn-small">Del</a>
                <a href="" class="waves-effect waves-light btn btn-small blue">Edit</a>
                <div class="task-header col s9">
                    <!--Display the category name in the accordion header-->
                    <strong>{{cat.category_name}}</strong>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    
</div>
    
{% endblock %}