{% extends 'base.html' %}
{% block content %}

<h2>Edit Task</h2>

<!--Form template from Materialize, amended to requirements-->
<div class="row">
    <!--Add form method of POST-->
    <!--Add action of the function we created in the .py file at step 14-->
    <form action="{{ url_for('update_task', task_id=task._id) }}" method="POST" class="col s12">
        <!--Task category select menu-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    <!--After step 12 in app.py - For loop to iterate through categories-->
                    {% for cat in categories %}
                        <!--We want to display the category name by default, so we use an if statement-->
                        {% if cat.category_name == task.category_name %}
                            <!--if the category name matches the one associated with this task, then we display it
                            we do this by setting the selected attribute on the option-->
                            <option value="{{ cat.category_name }}" selected >{{ cat.category_name }}</option>
                            {% else %}
                            <!--if not, then we display an option without it included-->
                            <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Task Category</label>
            </div>
        </div>
        <!--Task Name field-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <!--Match the names of the input fields to the names of the MongoDB fields-->
                <input id="task_name" name="task_name" type="text" class="validate" value="{{ task.task_name }}">
                <label for="task_name">Task Name</label>
            </div>
        </div>
        <!--Task Description field-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea id="task_description" name="task_description" class="materialize-textarea">{{ task.task_description }}</textarea>
                <label for="task_description">Task Description</label>
            </div>
        </div>
        <!--Due Date date picker-->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker" value="{{ task.due_date }}">
                <label for="due_date">Due Date</label>
            </div>
        </div>
        <!--Is Urgent check switch-->
        <div class="row">
            <div class="switch">
                <label>
                    <!--if else statement to check if it is urgent or not-->
                    {% if task.is_urgent %}
                        <!--if it is, the box will be checked-->
                        <input id="is_urgent" name="is_urgent" type="checkbox" checked >
                    {% else %}
                        <!--if not, it will be unchecked-->
                        <input id="is_urgent" name="is_urgent" type="checkbox">
                    {% endif %}
                    <span class="lever"></span>
                    Is Urgent
                </label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Edit Task
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}